* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Arial';
    src: url(../fonts/Arial-BoldMT.woff);
    font-weight: 700;
}

@font-face {
    font-family: 'Arial';
    src: url(../fonts/ArialMT.woff);
    font-weight: 400;
}

body {
    font-family: 'Arial';
}

/* header */

.header {
    width: 900px;
    margin: 33px auto 29px;
    display: flex;
}

.green-logo {
    position: absolute;
    background-color: #DAEBD0;
    width: 100%;
    height: 100%;
    top: -8px;
    left: -11px;
    z-index: -1;

}

.header__logo {
    width: 200px;
    height: 200px;
    margin: 7px 16px 0 8px;
    position: relative;
}

.header__logo img {
    display: block;
    width: 100%;
    height: 100%;
}

.header__title-box {
    position: relative;
}

.header__title {
    font-size: 80px;
    margin-bottom: 10px;
}

.green-title {
    width: 210px;
    height: 45px;
    background-color: #DAEBD0;
    position: absolute;
    z-index: -1;
    bottom: 8px;
    left: 28px;
}

.header__subtitle {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

.header__list {
    list-style-type: none;
    display: flex;
}

.header__list-item:not(:last-child) {
    margin-right: 16px;
}

.header__link {
    text-decoration: none;
    color: #646464;
    border-bottom: 2px solid #DAEBD0;
    padding-bottom: 4px;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

/* main */

.main {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 44px;
}

/* content */

.content {
    margin-right: 8px;
    width: 660px;
    padding: 0 20px 0 0;
}

.content-section:not(:last-child) {
    margin-bottom: 40px;
}

.section-title__green,
.content-section__title {
    width: fit-content;
}

.section-title__green {
    padding: 6px 12px;
    background-color: #DAEBD0;
    margin-bottom: 14px;
}

.content-section__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 14px;
}

.content-section__description {
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
}

.content-section-item:not(:last-child) {
    margin-bottom: 25px;
}

.content-section-item__title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 6px;
}

.content-section-item__subtitle {
    font-weight: 400;
    font-size: 14px;
    color: #646464;
    margin-bottom: 15px;
}

.first-section__subtitle {
    margin-bottom: 9px;
}

.content-section__list {
    list-style-position: outside;
    margin-left: 20px;
}

.content-section__list-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.content-section__list-item:not(:last-child) {
    margin-bottom: 10px;
}

.list-item__certifications:not(:last-child) {
    margin-bottom: 0;
}

/* aside */

.aside {
    width: 234px;
    padding: 8px 10px;
    background-color: #DAEBD0;
}

.aside-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 13px;
}

.aside-items__title {
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 12px;
}

.aside-item-element {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}

.aside-item__box {
    margin-bottom: 19px;
}

.aside-item__box-last {
    margin-bottom: 0;
}